
<style>
    .back .main-container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>



<div class="back">
    <div class="main-container">
        <h2>Sorry, failed confirm email!</h2>
    </div>
</div>