@model string
@{
    Layout = "_Layout";
    ViewData["Title"] = "ForgotPassword";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/Account.css">
}

@if(Model == null){
        <div class="MainContext">
            <div>
                <p>ForgotPassword</p>
                <form asp-controller="Account" asp-action="ForgotPassword" method="post">
                    <input type="email" name="email" placeholder="Email" required />
                    <input type="submit" value="Send" />
                </form>
            </div>
        </div>
    }
    else{
        <div>
            <h3 style="color:red">@Model</h3>
            <a asp-area="Identity" asp-controller="Account" asp-action="ForgotPassword">Back</a>
        </div>
    }
