@model string;

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/Account.css">
    <title>Login</title>
</head>
<body>

    <div class="MainContext">
        <p>SingIn</p>
        <form action="~/Identity/Account/Login" method="post">

            <input name="UserName" type="text" placeholder="UserName" required />
            <input name="Password" type="password" placeholder="password" required />

            <label style="margin: 0 auto;">persistent:<input type="checkbox" id="persistent" name="isPersistent" value="false" style="width: auto;" /></label>

            @Html.AntiForgeryToken()
            <input type="submit" value="Login" />
            <div style="display: contents;text-align: center;">
                <a href="../../Identity/Account/ForgotPassword">Forgot Password</a>
                <a href="../../Identity/Account/Register">Register</a>
            </div>
        </form>
        @{
            if (Model != null)
            {
                   <p style="color:red;">@Model</p>
            }
        }
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(function () {
            $("#persistent").on("click", function () {
                if ($(this).val() == "false") {
                    $("#persistent").val(true);
                }
                else {
                    $("#persistent").val(false);
                }
            });
        });
    </script>

</body>
</html>