@model string;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Register";
}

@section Styles
    {
    <link rel="stylesheet" href="~/css/Account.css">
}

    <div class="MainContext">

        <div>
            <p style="text-align:center;">Register</p>
            <form id="regForm" asp-area="Identity" asp-controller="Account" asp-action="Register" method="post" enctype="multipart/form-data">
                <input type="email" placeholder="n@gmail.com" name="Email" required />

                <input type="text" placeholder="Name" name="Name" required />
                <input type="text" placeholder="Surname" name="Surname" required />

                <label>listCity</label>
                <select id="listCity" name="CityName" required>
                </select>

                <input type="tel" placeholder="PhoneNumber" name="PhoneNumber" required />

                <input type="password" id="pas" placeholder="Password" name="Password" />
                <input type="password" id="pasConfirm" placeholder="ConfirmPassword" name="PasswordHash" />

                <label>Send messages email: <input type="checkbox" id="mailing" style="width: auto;" /></label>
                <input type="hidden" value="false" id="IsMailing" name="IsMailing" />

                <button type="button" id="btnRegister">Register</button>
                <a asp-area="Identity" asp-controller="Account" asp-action="Login" style="text-align: center;">LogIn</a>
                @Html.AntiForgeryToken()
            </form>
            @{
                if (Model != null){
                        <p style="color:red;">@Model</p>
                }
                else{
                        <p id="ErrorP" style="color:red;"></p>
                }
            }
        </div>
    </div>

    @section Scripts
    {
    <script src="~/js/Profile/OperationOnAds.js"></script>
    <script>
        $(function () {
            GetCity();
            $("#mailing").on("click", function () {
                if (this.checked == "on") {
                    $("#IsMailing").val(false);
                }
                else {
                    $("#IsMailing").val(true);
                }
            });
            $("#btnRegister").on("click", function () {
                if ($("#pasConfirm").val() == $("#pas").val()) {
                    console.log("submit");
                    $("#regForm").submit();
                }
                else {
                    console.log("ErrorP");
                    $("#ErrorP").text("ConfirmPassword is incorrect!");
                }
            });
        });
    </script>
}