@using WebAds.Models
@model ResetPasswordViewModel;

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/Account.css">
    <title>ResetPassword</title>
</head>
<body>
    <div class="MainContext">
        <p>ResetPassword</p>
        <form id="regForm" asp-action="ResetPassword" asp-controller="Account" method="post">

            <input id="pas" type="password" placeholder="Password" />
            <input id="pasConfirm" type="password" name="NewPassword" placeholder="ConfirmPassword" />

            <input type="hidden" name="Token" value="@Model.Token" />
            <input type="hidden" name="Email" value="@Model.Email" />

            <button type="button" id="btnRegister">Send</button>
            <p id="ErrorP" style="color:red;"></p>
        </form>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(function () {
            $("#btnRegister").on("click", function () {
                if ($("#pasConfirm").val() == $("#pas").val()) {
                    console.log("submit");
                    $("#regForm").submit();
                }
                else {
                    console.log("ErrorP");
                    $("#ErrorP").text("ConfirmPassword is incorrect!");
                }
            });

        });
    </script>

</body>
</html>