@{
    ViewData["Title"] = "Home Page";
}

<div class="MainContener">

    <div class="Filters" id="Filter">
        <div class="ListCategory">
            <ul class='Nav'>
                <li>
                    <a id="categoryName" val="-1">Category</a>
                    <ul id="n0">
                        <li><a val="-1">AllCategory</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="ListCity">
            <ul class='Nav'>
                <li>
                    <a id="cityName">City</a>
                    <ul id="listCity">
                        <li><a val="">AllCity</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div id="listAd" class="ListAd">
    </div>

</div>

@section Scripts{
    <script src="~/js/site.js"></script>
}