@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<style>
    .MainContener {
        width: 100%;
    }

    .ListAd {
        background-color: antiquewhite;
        width: 75%;
        margin: 0 auto;
    }

    .Ad {
        display: flex;
        background-color: red;
        width: 70%;
        height: 100px;
        margin: 3px auto;
    }
</style>

<div class="MainContener">

    <div class="ListAd">
        <div class="Ad">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.redd.it%2Fw3kr4m2fi3111.png&amp;f=1&amp;nofb=1&amp;ipt=3404a9a584ba0fe039663b488fb8c027fce7e6b783249972dce08222ce242048&amp;ipo=images" style="width: 80px;">
            <div class="AddContent">
                <h4 style="margin: auto;">Name_0</h4>
                <p style="overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;font-size: 12px;">On the other hand, the implementation of the planned targets clearly defines each participant as capable of making their own decisions regarding innovative methods of process management. The high level of involvement of representatives of the target audience is a clear proof of a simple fact: socio-economic development requires independent ways to implement a system of mass participation! On the other hand, the high quality of positional research helps to improve the quality of the withdrawal of current assets.</p>
            </div>
            <p style="color: forestgreen; font-size: 16px;">100$</p>
        </div>

    </div>

</div>
