


<div>
    <form method="post" enctype="multipart/form-data">

        <div class="MainContext" style="display: inline-grid;">

            <input id="Name" placeholder="name" type="text" />
            <textarea id="Content" placeholder="Content">

            </textarea>
            
            <input id="Price" placeholder="Price" type="number" step="0.1" min="0.0" max="99999.9" />

            <input id="AdImg" type="file" />

            <div style="display: flex;">
                <div class="City" style="margin-right:5px;">
                    <label>listCity</label>
                    <select id="listCity">
                    </select>
                </div>
                <div class="Category" style="margin-left:5px;">
                    <div id="Filter">
                        <input type="hidden" value="-1" id="categotyId" name="CategotyId" />
                        <ul class='Nav'>
                            <li>
                                <a id="categoryName">CategoryList</a>
                                <ul id="n0">
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <button type="button" id="btnAdd">AddNew</button>
        </div>
    </form>
</div>

@section Scripts{
    <script src="~/js/Profile/OperationOnAds.js"></script>
    <script>
        $(function () {

            GetCity();
            GetCategory();

            $("#btnAdd").on("click", AddAd);
        });
    </script>
}