

<div>
    <form method="post" enctype="multipart/form-data">
        <input id="Name" type="text" />
        <input id="Content" type="text" />
        <input id="Price" type="number" step="0.1" min="0.0" max="99999.9" />

        <input id="AdImg" type="file"/>

        <div style="display: flex;">
            <div class="City">
                <label>listCity</label>
                <select id="listCity">
                </select>
            </div>
            <div class="Category">
                <label>listCategory</label>
                <select id="listCategory">
                </select>
            </div>
        </div>

        <button type="button" id="btnAdd">AddNew</button>
    </form>
</div>

@section Scripts{
    <script src="~/js/Profile/AddAd.js"></script>
}