@model User;
@{
    ViewData["Title"] = Model.UserName;
}
<h3>In developing</h3>

<form asp-action="UpdateProfile" asp-controller="Profile" method="post" enctype="multipart/form-data">

    <div style="display:inline-grid;">

        <label>Name:</label>
        <input type="text" value="@Model.UserName" name="UserName" />
        <label>Surname:</label>
        <input type="text" value="@Model.Surname" name="Surname" />


        <label>Icon:</label>
        <input type="file" accept="image/*" />

        <label>listCity:</label>
        <select id="listCity">
        </select>

        <label>Condent to send Emails: <input type="checkbox" asp-for="@Model.IsMailing" /></label>
       

        <button type="submit">Save</button>
    </div>

</form>


@section Scripts{
    <script src="~/js/Profile/OperationOnAds.js"></script>
    <script>
        $(function () {
            GetCity('@Model.CityName');
        });
    </script>
}