@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="MainContext">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateCreate</th>
                <th>Name</th>
                <th>UserId</th>
                <th id="sortStatus">Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="listAd">
        </tbody>
    </table>

</div>

@section Scripts{
    <script src="~/js/Manager/Manager.js"></script>
    <script>
        $(() => {
             $("#sortStatus").click(onClickSort);
            onClickSort();
        });
    </script>
}