.MainContener {
    display: flex;
    justify-content: center;
}

.Icon {
    margin-right: 20px;
}

.Icon a {
    position: absolute;
    margin: 60px 0 0 -30px;
}

.UserIcon {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}


.EditIcon {
    width: 32px;
    height: 32px;
}

.RightData {
    margin-left: 20px;
}

.Ad {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    width: 70%;
    height: 100px;
    margin: 3px auto;
}

button {
    border: groove;
    border-radius: 2px;
    height: fit-content;
}

.btnControlAd {
    display: flex;
    margin: auto 0;
}

    .btnControlAd button {
        margin: 0 2px;
    }

.DataAd {
    display: flex;
}

.DataAdText {
    display: block;
}

@media (max-width: 768px) {
    .btnControlAd {
        display: block;
    }

    .btnControlAd button {
        margin: 2px 0;
    }
}
